body{
    background: url("https://wallpaperaccess.com/full/21591.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.tablaContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

.tablaContainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

td {
    border: 8px solid rgb(147, 10, 238);
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    }



