body{
    background: url("https://wallpaperaccess.com/full/21591.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.start{
    display: inline-block;
    padding: 1px 15px;
    color: rgb(222, 157, 248);
    margin-top: 50px;
    margin-left: 18%;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;
    font-size: 2vw;
    transition: all .5s;
    background-color: #3e0261;

}

.restart{
    display: inline-block;
    padding: 1px 15px;
    color: rgb(222, 157, 248);
    margin-top: 50px;
    margin-left: 60%;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;
    font-size: 2vw;
    transition: all .5s;
    background-color: #3e0261;
}

.tablaContainer{
    margin-left: auto;
    margin-right: auto;
    
}

/* .tablaContainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
} */

td {
    border: 8px solid rgb(147, 10, 238);
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    }



